

<h4 class="p-2 mb-0" style="color: #8661C1"><%= shop.name.capitalize %></h4>
<a style="color:#EEEEEE;background-color:#8661C1;padding: 5px;border: 1px solid #8661C1;"href="/festivals/1/shops">Pre-order</a>
