<div class="chatroom content-wrapper pt-5">
  <div class="chat">
    <h1 class="text-center">Select a shop</h1>
    <div class="slider">
        <% @shops.each do |shop| %>
          <div class="slide"style="display:flex; justify-content: space-evenly;flex-direction: column;align-content: space-between;">
              <div class="card-infos">
                <div>
                  <h2 style=" min-height: 60px;"><%= shop.name.capitalize %></h2>
                </div>
                <div>
                  <img src="https://cdn.pixabay.com/photo/2016/11/20/09/06/bowl-1842294__340.jpg" style="height:200px; width:200px; padding-bottom:10px"alt="">
                </div>
                <div>
                  <%= link_to "See the menu", festival_shop_path(@festival.id, shop.id)%>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
