<div class="chatroom content-wrapper pt-5">
  <div class="chat">
    <h1 class="text-center">Select a shop</h1>
    <div class="slider">
        <% @shops.each do |shop| %>
          <div class="slide-shop">
              <div class="mb-2" style="height: 100px;">
                <h2 class="text-center p-2 mt-2 align-self-center"><%= shop.name.capitalize %></h2>
                <div class="text-center p-2">
                  <%= link_to "See the menu", festival_shop_path(@festival.id, shop.id)%>
                </div>
              </div>
              <div>
                <img src="<%= cl_image_path shop.image.key %>" alt="" >
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
