.input{
  display: flex;
  justify-content: center;
  margin: 13px;
  border: #8661C1;

}

span{
  color: #edab18;
}
.friends{

  display:grid;
  margin-right: 10px;
  li{
    list-style-type: none;
    height: 70px;
    border-bottom: 2px solid #8661C1;
    margin-top: 27px;
    font-weight: bold;
  }
  img{
    height: 50px;
    border-radius: 50%;
  }

  .fa-user-times{
    color: #8661C1;
    font-size: 20px;
  }
  .fa-location-arrow{
    color: #8661C1;
    font-size: 20px;
  }
}

.friends-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
