// Specific CSS for your home-page
.col-6{
    margin-top: 50px;
    width: 50%;
    height: 120px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #EEEEEE;
    font-weight: bold;
    flex-direction: column;
  p {
  height: 10px;
  width: -27px;
  margin-top: 5px;
  color: #002A32;
  }
}

a{
  text-decoration: none;
}
