// Specific CSS for your home-page


a{
  text-decoration: none;
}


.slider {
  width: 100%;
  height: 510px;
  border-radius: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.slide {
  width: 270px;
  flex-shrink: 0;
  height: 450px;
  background-color: #181F37;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-between;
  h4 {
    color: #EEEEEE
  }
  p {
    font-size: 18px;
  }
}


.planning-home {
  padding-top: 10px;
  h5 {
    padding-left: 10px;
  }
}

.slider-planning {
  width: 100%;
  height: 310px;
  border-radius: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.slide-planning {
  padding: 10px;
  width: 270px;
  flex-shrink: 0;
  height: 300px;
  background-color: #181F37;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-between;
  h3 {
    font-size: 20px;
    color: #EEEEEE;
    margin: 15px 10px;
    font-weight: bold;
    max-height: 25px;
    overflow: hidden;
  }
  p {
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .planning-image {
    height: 150px;
    background-size: cover;
  }
}


.vignette-date {
  background-color: #EEEEEE;
  height: 40px;
  width: 40px;
  opacity: 0.8;
  margin: 10px;
  border-radius: 5px;
  p {
    color: #8B1640;
    padding-left: 0px;
  }
}

.vignette-remind i {
  margin: 10px 10px;
  color: #8B1640;
  background-color: #EEEEEE;
  opacity: 0.8;
  padding: 8px;
  border-radius: 5px;

}

.avatar-list {
  padding-left: 10px;
  margin-bottom: 0px;
  li{
    list-style: none;
    display: inline;
    margin-right: -10px;
  }
}

.attendees {
  margin-bottom: 15px;
  p {
    margin-left: 10px;
    font-weight: lighter;
  }
}

.reminder-rdv {
  padding-left: 10px;
  color: #bebebe;
}

.friend-list {
  li {
    list-style: none;
    display: inline;
    margin-right: 10px;
  }
}

ul.container-fluid.friend-list {
  margin-bottom: 10px;
}

.home-pre-order-card {
  background-color: #181F37;
  border-radius: 10px;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 10px;
  }


}

.home-pre-order-card img {
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
