// Specific CSS for your home-page


a{
  text-decoration: none;
}


.slider {
  width: 100%;
  height: 490px;
  border-radius: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
#shoppers{
  margin-top: 30%;
  display: flex;
  justify-content: flex-start;
}
.slide {
  width: 270px;
  flex-shrink: 0;
  height: 450px;
  background-color: #181F37;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-between;
  h4 {
    color: #EEEEEE
  }
  p {
    font-size: 18px;
  }
}


.fake-notif p{
  color: red;

}

#notif {
  color: red;

}
