<div>
  <div>
    <h1>your friend username: </h1>
      <div class="reservationz">
        <%=simple_form_for [@user, @friend] do |f| %>
          <%= f.input :username %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
</div>
