<div>
  <div>
    <h1>Your friend username: </h1>
      <div>
        <%=simple_form_for @friend do |f| %>
          <%= f.text_field :username, value: "" %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
</div>
