<div class="popup">
  <h4 class="p-2 mb-0" style="color: #8661C1"><%= user.username.capitalize %></h4>
      <% if user.avatar.attached? %>
      <div style="margin-right: 5px;">
      </div>
    <% else %>
      <div style="margin-right: 5px;">
        <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
      </div>
    <% end %>
  <div>
  </div>
</div>

<!-- <div class="friends">
    <%# if current_user.friends.any? %>
      <%# friends = current_user.friends %>
      <%# friends.each do |friend| %>
        <li>
          <div class="friends-list">
              <img class="avatar-large" src="<%#= cl_image_path friend.friend.avatar.key, height: 10 %>" alt=""> <%#= friend.friend["username"] %>
            <div>
            </div>
          </div>
        </li>
        <%# end  %>
      <%# end  %>
    <%# if current_user.friend_requests.any? %>
      <%# friends = current_user.friend_requests %>
      <%# friends.each do |friend| %>
      <li><img class="avatar-large" src="<%#= cl_image_path friend.user.avatar.key, height: 10 %>" alt=""> <%#= friend.user["username"] %>

      <%# end  %>
    <%# end  %>
</div> %>
-->
