<h1>hello <%= @user.first_name %></h1>


<%= link_to "Add a friend", "/friends/new" %>

<br>
<h2>find all your friends below :</h2>
<% if current_user.friends != nil %>
<% friends = current_user.friends %>
<% friends.each do |friend| %>
<li> <%= friend.user["username"] %></li>
<% end  %>
<% end  %>
