<h1>hello <%= @user.first_name %></h1>


<h2>Add a friend :</h2>
 <form action="/friends" method="post">
  <input type="text" name="username" placeholder="Type your friend username?">
  <input type="submit">
</form>
<br>
<h2>find all your friends below :</h2>
<% if @user.friends != nil %>
<% @user.friends do |friend| %>
<li> <%= friend.username %></li>
<% end  %>
<% end  %>
