<div class="container mt-3">
  <div class="row">
    <div class="col-6"><p>Food & Beverage</p></div>
    <div class="col-6"><div class="image"></div>
  </div>
  <div class="row">
    <div class="col-6"> <img class="svg1" /></div>
    <div class="col-6">Map</div>
  </div>
  <div class="row">
    <div class="col-6">Friends</div>
    <div class="col-6"><img src="app/assets/images/friends.svg"
    height="87px"
    width="100px"/></div>
  </div>
  <div class="row">
    <div class="col-6"> <img src="app/assets/images/cart.svg" height="87px"
    width="100px"/></div>
    <div class="col-6"><%= link_to "Shops", "festivals/1/shops" %></div>
  </div>
  <div class="row">
    <div class="col-6">Planning</div>
    <div class="col-6"><img src="" alt=""></div>
  </div>
  <div class="row">
    <div class="col-6"> <img src="" alt=""></div>
    <div class="col-6">SOS</div>
  </div>
</div>
