<div class="container-fluid content-wrapper chatroom chat pt-5">
  <h1 class="text-center pb-3 pt-3">Select a day</h1>
    <h6 class="text-center p-4 ">Check the festival schedule and set alarms for your favorite shows</h6>
     <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Friday" type="button" role="tab" aria-controls="Friday" aria-selected="true">Friday</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Saturday" type="button" role="tab" aria-controls="Saturday" aria-selected="false">Saturday</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Sunday" type="button" role="tab" aria-controls="Sunday" aria-selected="false">Sunday</button>
      </li>
    </ul>
    <br>
      <% @days.each do |day| %>
        <div class="list-days">
          <h2><%= day.name %></h2>
          <div class="d-flex justify-content-center">
          </div>
          <div class="chatlink text-center">
              <%= link_to "Planning", festival_day_path(@festival.id, day.id)%>
          </div>
        </div>
    <% end %>
</div>
