.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #002A32;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #002a32;
  color: white;
}

.form-actions{
  width: 100%;
  background-color:#8661C1;
  border-radius: 4px;
  color: #EEEEEE;

  .btn{
    color:#EEEEEE;
    font-weight: bold;
  }
}



.get-log{
  padding-top: 10px;
}

input[type="submit" i]{
color:white;
background-color: #8661C1;
padding: 5px;
border-radius: 7px;
border:1px solid #8661C1;
}

input[type="text" i] {
    padding: 5px 2px;
    border-radius: 7px;
    border:1px solid #8661C1;
}
