.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #002A32;
}

.btn-flat:hover {
  background: #002a32;
  color: white;
}

.btn{
  color:#EEEEEE;
  font-weight: bold;
}

a{
  color: #EEEEEE;
}

.lost-login{
  margin-top: 16px;
}
