.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #002A32;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #002a32;
  color: white;
}

.form-actions{
  width: 100%;
  background-color:#8661C1;
  border-radius: 4px;
  color: #EEEEEE;

  .btn{
    color:#EEEEEE;
    font-weight: bold;
  }
}



.get-log{
  padding-top: 10px;
}
