.col-6{
    margin-top: 50px;
    width: 50%;
    height: 120px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #EEEEEE;
    font-weight: bold;
    flex-direction: column;
    .btn{
    border-radius: 34px;
    height: 34px;
    width: 37px;
    background-color: #EEEEEE;
      &:hover{
        background-color:#002A32;
      }
    }
}

p{
  height: 10px;
  width: -27px;
  color: #002A32;
}
