.footer {
  display: flex;
  background: #8661c1;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
  margin:auto;
}
.footer-links {
  align-items: center;
}
.footer-links a {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 28px;
  padding: 0px 10px;
}

.footer-link-active{
  opacity: 1;
}

.footer-link-default{
  opacity: 0.5;
}
