.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid lightgrey;
  box-shadow: none;
  border-radius: 20px;
  margin:24px;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none;
  border-radius: 20px;
  align-items: center;
}

.mapboxgl-popup-close-button{
  border-radius: 50%;
  color: white ;
  background-color: #8661C1;
}

.mapboxgl-popup-tip{
  display:none;
}
