.navbar {
  padding-top: 10px;
  background-color: #8661c1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 80px;
  margin-bottom: 15px;

  h4{
    max-width: 200px;
    margin-bottom: 0px;
    margin-left: 15px;
  }

}

.notif {
  height: 40px;
  width: 40px;
  background-color: #9e7fcf;
  border-radius: 50%;
}

i.far.fa-bell::before {
  font-size: 24px;
}

.nav-chat{
  padding-top: 32px;
  background-color: #8661c1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 0px;
  margin-bottom: 15px;
}

.dropdown-menu[data-bs-popper] {
  top: 75%;
  left: 50%;
}

.dropdown-menu.dropdown-menu-right.show {
  padding: 0px;
  margin: 0px;
}

.dropdown-item {
  padding: 0px;
}
